.contact-us-section {
    .label-bg {
        background-color: rgba($color: $color-858AB5, $alpha: 0.2);
    }
}

.banner-location-section {
    .location-img {
        height: 336px;

        @include media-breakpoint-down(lg){
            height: 400px;
        }
    }

    .location-pin {
        left: 60%;
        top: 50%;
        transform: translateY(-70%);
    }
}

.help-card-section {
    border-radius: 30px 30px 0px 0px;
    
    .help-card {
        height: 323px;
    }
    
    @include media-breakpoint-down(lg){
        border-radius: 15px 15px 0px 0px;
    }
}