.booking-section {
    height: 620px;

    .booking-widget {
        border: 1px solid $color-707070;
    }
}

.location-section {
    .location-img {
        height: 633px;

        @include media-breakpoint-down(lg) {
            height: 300px;
        }
    }
}

.single-tribe_events{
    #footer{
        display:none !important;
    }
    #header{
                display:none !important;
    }
    hr{
        display:none !important;
    }
    #tribe-events-pg-template{
        padding-top: 0 !important;
    }
}