.modal {
    &.project-modal {
        .modal-dialog {
            max-width: 1260px !important;

            @include media-breakpoint-down(lg) {
                max-width: 100% !important;
                width: 100% !important;
                margin: 0px !important;
            }

            .modal-content {
                padding: 65px 50px 70px;

                @include media-breakpoint-down(lg) {
                    height: 100vh !important;
                    border-radius: 0px !important;
                    padding: 0px;
                }

                .carousel {
                    .carousel-inner {
                        .carousel-item {
                            height: 546px;

                            @include media-breakpoint-down(lg) {
                                height: fit-content;
                            }

                            .carousel-img {
                                @include media-breakpoint-down(lg) {
                                    height: 315px !important;
                                }
                            }
                        }
                    }

                    .prev-arrow,
                    .next-arrow {
                        width: 45px;
                        height: 45px;
                        background-color: $color-1B2995;

                        @include media-breakpoint-down(lg) {
                            width: 35px;
                            height: 35px;
                        }
                    }

                    .prev-arrow {
                        img {
                            transform: rotate(180deg);

                            @include media-breakpoint-down (lg) {
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.offcanvas {
    width: 720px !important;
    border-left: 0px !important;

    .offcanvas-body {
        padding: 55px 50px 55px 60px;

        @include media-breakpoint-down(lg) {
            padding: 15px 15px 55px 15px;
        }

        .close-btn {
            width: 45px;
            height: 45px;

            @include media-breakpoint-down(lg) {
                width: 35px;
                height: 35px;
            }
        }

        .offcanvas-img {
            height: 230px;
        }
    }
}