header {
    box-shadow: 0px 0px 10px #0F1964;
    z-index: 999;

    .header-top {
        .clock-img {
            img {
                height: 17px;
            }
        }
    }

    .header-main {
        .white-logo {
            width: 137px;
        }
    }

    ul {
        li {
            &:last-child {
                padding-right: 0 !important;
            }
        }
    }

    .mega-link {
        &.mega-active {

            .mega-menu {
                opacity: 1 !important;
                visibility: visible !important;
                
            }

            .menu-link {
                background-color: rgba($color: $white, $alpha: 0.2);
                border-radius: $radius4;
                padding-inline: 15px 8px;
            }
        }
    }

    .mega-menu {
        width: max-content;
        top: 100px;
    }
}