.bg-1B2995-label {
    background-color: rgba($color: $color-1B2995, $alpha: 0.25);
}

.label {
    height: 29px;

    &.bg-858AB5-label {
        background-color: rgba($color: $color-858AB5, $alpha: 0.2);
    }
}

.arrow-icon {
    width: 45px;
    height: 45px;

    @include media-breakpoint-down(lg) {
        width: 35px;
        height: 35px;
    }
}

.get-in-touch-section {
    .pattern-img {
        height: 720px;
        left: -22%;
        transform: translate(35px, 48%);

        @include media-breakpoint-down(lg) {
            height: 262px;
            left: -48% !important;
            transform: translate(35px, 75%) !important;
        }

        @media screen and (max-width:1440px) {
            left: -30%;
            transform: translate(35px, 48%);
        }
    }

    .wpcf7 {
        form {
            .wpcf7-form-control-wrap {
                width: 100% !important;

                .wpcf7-form-control {
                    width: 100% !important;
                }

                .wpcf7-textarea {
                    @include media-breakpoint-down(lg) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.project-tag {
    backdrop-filter: blur(24px) brightness(50%);
    -webkit-backdrop-filter: blur(24px) brightness(50%);
    background-color: rgba($color: $color-858AB5, $alpha: 0.1);
    padding: 5px 12px;
}

.alert-btn {
    z-index: 999;

    .alert {
        background-color: $color-858AB5;
        border-radius: 0px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;

        .close-btn {
            right: 35px !important;
        }
    }
}

.alert-menu {
    z-index: 99999;

    .alert {
        background-color: $color-1B2995;
        border-radius: 0px;
        padding-top: 6px !important;
        padding-bottom: 6px !important;

        ul {
            li {
                &.active {
                    background-color: rgba($color: $white, $alpha: 0.2);
                    padding-top: 6px;
                    padding-bottom: 6px;
                    border-radius: $radius4;
                }
            }
        }
    }
}

.social-img-content {
    .social-bg {
        border: 1px solid $color-858AB5;
        width: 45px;
        height: 45px;

        .social-img {
            img {
                height: 18px;
            }
        }
    }
}

.quantity {
    max-width: 84px;

    .input-text {
        width: 100% !important;
        border-radius: 27px;
        border: 0;
        background-color: rgba($color: $color-858AB5 , $alpha: 0.2);
        font-family: "dmsans-medium";
        font-size: $font16;
        line-height: $leading26;
        letter-spacing: $space-0_48;
        color: $color-191919;

        &::placeholder {
            font-family: "dmsans-medium";
            font-size: $font16;
            line-height: $leading26;
            letter-spacing: $space-0_48;
            color: $color-191919;
        }
    }
}


.shop-accordion {
    .accordion-item {
        border-top: 1px solid #CCCCCC;

        .closet-header {
            .accordion-arrow {
                height: 11px;
                transition: all 0.3s ease-in-out;
            }

            &.active {
                .accordion-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
}