.event-section {
    .filter-section {
        .event-btn {
            height: 29px;
            background-color: rgba($color: $color-858AB5, $alpha: 0.2);

            &.active {
                background-color: rgba($color: $color-1B2995, $alpha: 1.0);
                color: $white;
            }
        }

    }
}

.more-filter {
    .more-filter-btn {
        width: 267px;
        display: flex;
        flex-direction: column;
    }
}

.project-section {
    .project-filter-section {
        .project-filter-btn {
            height: 29px;
            background-color: rgba($color: $color-858AB5, $alpha: 1) !important;
            &.active {
                background-color: rgba($color: $white, $alpha: 1) !important;
            }
        }

    }
}