.hero-section {
    background: linear-gradient(to bottom, #1B2995 calc(100% - 350px), white 350px);

    @include media-breakpoint-down(lg) {
        background: linear-gradient(to bottom, #1B2995 calc(100% - 150px), white 150px);
    }

    .hero-img {
        height: 694px;

        @include media-breakpoint-down(lg) {
            height: 275px;
        }
    }

    .pattern-img {
        // z-index: -1;
        height: 647px;
        right: -8%;
        transform: translate(35px, 0px);

        @include media-breakpoint-down(lg) {
            height: 262px;
            transform: translate(35px, 80%);
        }

        @media screen and (max-width:1440px) {
            right: -10%;
        }
    }
}

.sub-hero-section {
    height: 678px;

    @include media-breakpoint-down(lg) {
        height: 420px;
    }
}

.location-img,
.banner-img {
    height: 360px;

    @include media-breakpoint-down(lg) {
        height: 485px;
    }
}

.banner-img {
    .banner-data {
        @include media-breakpoint-down(lg) {
            height: fit-content !important;
            bottom: 0;
            top: auto !important;
        }

        .banner-content {
            @include media-breakpoint-down(lg) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}